<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    What's your username?<br>
    <input id="user_name_input" type="text" size="100" onkeypress="CheckSpace(event)"><br>
    What chat room would you like to enter?<br>
    <input id="room_name_input" type="text" size="100" onkeypress="CheckSpace(event)"><br>
    <input id="button_submit" type="button" value="Enter">
    {% for i in rooms %}
        {{i.name}} {{i.members}}
    {% endfor %}
    <script>
        $("#button_submit").click(function() {
            if ($("#room_name_input").val() === ''){
                alert('Nome da sala não pode ser nulo.');
                preventDefault();
            }
            if ($("#user_name_input").val() === ''){
                alert('Username não pode ser nulo.');
                preventDefault();
            }
            var roomName = $("#room_name_input").val().toLowerCase().replaceAll(' ','');
            var userName = $("#user_name_input").val().replaceAll(' ','');
            window.location.pathname = '/' + userName + '/' + roomName + '/';
        });

        document.querySelector('#room_name_input').focus();
        document.querySelector('#room_name_input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        }
        function CheckSpace(event){
            if(event.which == 32){                
                event.preventDefault();
                alert("Espaçamento não permitido.")
                return false;
            }
        }
    </script>
</body>
</html>