<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20" readonly></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room_name" }}
    {{ user_name|json_script:"user_name" }}

    <div>
        <ul id="online-users">            
        </ul>
    </div>



    <script>
        const roomName = JSON.parse($('#room_name').text());
        const userName = JSON.parse($('#user_name').text());


        const chatSocket = new ReconnectingWebSocket(
            'ws://'
            + window.location.host
            + '/ws/'
            + roomName
            + '/'
        );


        chatSocket.onopen = function(e) {
            console.log(userName + ' has joined.');
            message = (userName + ' entrou na sala.');
            chatSocket.send(JSON.stringify({
                'message': message,
                'action': 'connect',
                'user': userName,
            }));
        }

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };
        
        window.addEventListener('beforeunload', function (e) {
            chatSocket.onclose()           
        });

        chatSocket.onclose = function(){
            console.error('Chat socket closed unexpectedly');
            console.log(userName + ' has leaved.');
            message = (userName + ' saiu da sala.');
            chatSocket.send(JSON.stringify({
                'user': userName,
                'message': message,
                'action': 'disconnect'
            }))

       }

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'user': userName,
                'action': 'message',
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>